<h4>lista de clientes</h4>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">cliente</th>
        <th scope="col">atencion</th>
        <th scope="col">precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>katherine</td>
        <td>consulta</td>
        <td>70bs</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>mickael</td>
        <td>vacuna</td>
        <td>20bs</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>juan</td>
        <td>consulta</td>
        <td>70Bs</td>
      </tr>
    </tbody>
  </table>