.jumbotron {
    background-color: #86b2dd;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
}

.jumbotron .display-4 {
    font-size: 2.5rem;
}

.jumbotron .lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.jumbotron .btn {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.menu-item {
    background: #93e0f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.menu-item h3 {
    font-size: 24px;
    margin: 10px 0;
}

.menu-item p {
    font-size: 24px;
    margin: 10px 0;
}
